# ---------------------------------------------------------
# Global Defaults
# ---------------------------------------------------------
* @vinodvx

# ---------------------------------------------------------
# CI/CD & Configuration Pipelines
# ---------------------------------------------------------
/.github/workflows/ @vinodvx
